body {
    background-color: #f4f4f4;
    font-family:Vodafone;
    font-style:normal;
    font-weight:400;
    src:url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.eot);src:url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff) format("woff")}
    @font-face{font-display:swap;font-family:Vodafone;font-style:normal;font-weight:700;src:url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.eot);src:url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff) format("woff")}@font-face{font-display:swap;
    font-family:Vodafone; font-style:normal;font-weight:100; src:url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.eot);src:url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff) format("woff")}

h1, .ws10-h1 {
font-size: 48px;
}
h1, .ws10-h1 {
font-weight: 100;
line-height: 1.25;
color: #0d0d0d;
font-size: 34px;
margin-block-start: 0px;
margin-block-end: 0px;
margin-inline-start: 0px;
margin-inline-end: 0px;

}


h2, .ws10-h2 {
margin-bottom: 20px;
margin-block-start: 0px;
margin-block-end: 0px;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

h2, .ws10-h2 {
font-size: 34px;
}
h2, .ws10-h2 {
font-weight: 100;
line-height: 1.25;
color: #0d0d0d;
font-size: 30px;
margin-bottom: 16px;
}


h3, .ws10-h3 {
font-weight: 700;
line-height: 1.25;
color: #0d0d0d;
font-size: 24px;
margin-bottom: 16px;
margin-top: 16px;
}

a {
color: #0d0d0d;
}

a:visited {
color: #0d0d0d;
}

a:hover {
color: #e60000;
}

a:active {
color: #0d0d0d;
}

a:focus {
  color: #e60000;
  }


.subheading { 
font-weight: 100;
line-height: 1.25;
color: #0d0d0d;
font-size: 18px;
margin-bottom: 16px;
}

.rule-description-highlight {

font-weight: bold;
}

.strike-through {
text-decoration: line-through;
}

.highlight-input {

font-weight: bold;
text-decoration: underline;

}

.ws10-card--shadow-wide {
box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}
.ws10-card--background-white {
background-color: #fff;
}
.ws10-card {
width: 100%;
padding: 24px 24px 32px 24px;
margin-bottom: 16px;
border-radius: 6px;
}

.checkrow {
border-bottom: 1px solid #333;
}

.count-checkboxes-wrapper {
position: -webkit-sticky; /* Safari */
position: sticky;
bottom: 0;
padding: 16px;
background-color: #0D0D0D;
font-size: 18px;
border-radius: 6px;
color: #f4f4f4;
}



/* Checkbox Styling */

@supports(appearance: none) {

 input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 3px;
    margin-right: 6px;
    margin-left: 0px;
}
 input[type="checkbox"]:checked {
    position: relative;
    background: none;
    background-color: rgb(0, 105, 124);
    border: 1px solid rgb(0, 105, 124);
}
input[type="checkbox"]:checked::after {
    position: absolute;
    top: 4px; 
    left: 4px;
    content: "";
    width: 9px;
    height: 6px;
    border: 1px solid #fff;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
}
}

input[type="checkbox"]:disabled {
border: 1px solid rgba(38, 38, 38, 0.38);
background-color: rgb(242, 242, 242);
cursor:not-allowed;
}


[type="checkbox"]:disabled:checked ~ label:after {
    color: #777;
cursor:not-allowed;
}

[type="checkbox"]:disabled  ~ label {
    color: #aaa;
cursor:not-allowed;
}


/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}

.rule-description-disabled {
color: #aaa;
cursor:not-allowed;
}

/* Checkbox Styling End */

#projectname {
text-decoration: underline;

}

.check-info thead tr th {
border-bottom: #333 solid 1px;
border-collapse:separate; border-spacing:5px 5px;

}

.hide-checkbox {

display:none;

}


.hidden-form-check {
display: none;
}


table tfoot {
position: sticky;
}

table tfoot {
inset-block-end: 0; /* "bottom" */
}

#content-wrapper {

margin: auto;
width: 100%;
min-width: 800px;
max-width: 1050px;
padding-top: 32px;
}

.heading {

padding-bottom: 16px;

}

.fold {
display: none;
padding: 0;
max-height: 0;
transition: max-height 0.15s ease-out;
}

label.header {
display: table-row;
background-color: #7e7e7e;
}

.show-rule-info {
display: table-row;
transition: 2s;
}

.show-rule-info-wrapper {
display:block;
padding: 0px 24px 16px 32px;
-webkit-transition: max-height 1s, padding .2s; 
-moz-transition: max-height 1s, padding .2s; 
-ms-transition: max-height 1s, padding .2s; 
-o-transition: max-height 1s, padding .2s; 
transition: max-height 1s, padding .2s;  
overflow: hidden;
max-height: 500px;
}


.acc {
border-top: 1px solid #bebebe;
padding-top: 24px;
padding-bottom: 24px;
font-size: 20px;
width: 80%;
}


.acc-last {

border-bottom: 1px solid #bebebe;

}


.acc-left {

margin-left: 24px;
}



.ws10-accordion-item__chevron {
  stroke: #bd0000;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transform: rotateX(0deg);
  transform-origin: center; 
  cursor: pointer;
}
  .ws10-accordion-item--disabled .ws10-accordion-item__chevron {
    display: none; }


.ws10-accordion-item__icon {
  display: inline-block;
  margin-right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  fill: #0d0d0d;
  stroke: #0d0d0d; 
  transform: rotateX(0deg);
transition-duration: 1s;  

}
  .ws10-accordion-item__icon::before {
    width: 100%;
    height: 100%; }
  .ws10-accordion-item--disabled .ws10-accordion-item__icon {
    background-color: #7e7e7e; }
  .ws10-accordion-item__icon--chevron {
    background: transparent; }
  .ws10-accordion-item__icon--left + .ws10-accordion-item__icon--stepper {
    visibility: hidden;
    position: absolute; }

    .ws10-accordion-item__checked {
transform: rotateX(180deg);
transition-duration: 0.8s;
}

.accord-header {
cursor: pointer;
}

.space-150 {

padding-top:24px;
}



.accord-content {
display: none;
grid-column-start: 1;
grid-column-end: 2;
justify-self: stretch;
padding-left: 26px;
}

.grid-container {
display: grid; 
grid-template-columns: 81% 14% 4%;
gap: 0px 8px; 
}



.grid_item_checkbox {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-align: center;
align-items: center;
justify-self: self-start;

}

.grid_item_label {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content:start;
-ms-flex-align: center;
align-items: center;
justify-self: stretch;
overflow: hidden;
padding-left: 2px;
}

.grid_item_text {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-align: center;
align-items: center;
justify-self: stretch;
}

.grid_item_text-2 {
border-radius: 5px;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-align: center;
align-items: center;
justify-self: stretch;
}


.progress {
display: -ms-flexbox;
display: flex;
height: 8px;
overflow: hidden;
font-size: .75rem;
background-color: rgb(190, 190, 190);
border-radius: 0.25rem;
margin-bottom: 4px;
}
*, ::after, ::before {
box-sizing: border-box;
}

.bg-success {
background-color: rgb(234, 26, 26)!important;
box-shadow: 2px 0px #262626;
}

.progress-bar {
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: center;
justify-content: center;
overflow: hidden;
color: #fff;
text-align: center;
white-space: nowrap;
background-color: #f4f4f4;
transition: width .6s ease;
border-right: transparent;
width: 0%;
}

.progress100p {

    display: none;

}

*, ::after, ::before {
box-sizing: border-box;
}


.digit {

font-weight: bold;
font-size: 20px;

}





.mode { 
    float:right; 
    margin-top: 20px;
    margin-right: 20px;
} 

.darkmode { 
    cursor: pointer; 
    border: 1px solid #555; 
    border-radius: 10%; 
    width: 20px; 
    text-align: center; 
    padding: 8px; 
    margin-left: 8px; 
} 


/* Dropdown Button */ 
.dropbtn { 
color: #333; 
padding: 0 0 8px 0px;
font-size: 16px; 
border: none; 
background: transparent;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
border-bottom: 2px solid rgba(255, 255, 255, 0);
-webkit-background-clip: padding-box; /* for Safari */
background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

/* The container <div> - needed to position the dropdown content */ 
.dropdown { 
position: relative; 
display: inline-block;
}

 .dropdown-content { 
display: none; 
position: absolute; 
background-color: #fff; 
min-width: 300px; 
box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.3);
border-radius: 3px;
z-index: 1; 
}


.dropdown-content a { 
color: #0d0d0d; 
padding: 12px 16px; 
text-decoration: none; 
display: block; 
}


.dropdown-content a:hover {
color: #e60000;
}

.dropdown-content a:focus {
  color: #e60000;
  }

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn .ws10-accordion-item__chevron--drop{
transform: rotateX(180deg);
transition: transform 0.5s;
stroke: #e60000;
}

.dropdown:hover .dropbtn {
border-bottom: 2px solid #e60000;
color: #e60000;
cursor: pointer;
}

.dropbtn-key {
    border-bottom: 2px solid #e60000;
    color: #e60000;
}


.ws10-accordion-item__chevron--drop {
  stroke: #333;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transform: rotateX(0deg);
  transform-origin: center; 
  cursor: pointer;
  transition: transform 0.5s;
}

.ws10-accordion-item__chevron--drop:hover {
  stroke: #bd0000;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transform: rotateX(180deg);
  transform-origin: center; 
  cursor: pointer;
}

.ws10-accordion-item__chevron--drop-key {
    transform: rotateX(180deg);
    transition: transform 0.5s;
    stroke: #e60000;
}

.dark-mode-switcher {
    cursor: pointer; 
    border: 1px solid #555; 
    border-radius: 10%; 
    width: 20px; 
    text-align: center; 
    padding: 8px; 
    margin-left: 8px; 
}

.ws10-alt-button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    transition: all 0.4s ease 0s;
    line-height: 12px;
    height: 44px;
    font-weight: 400;
    color: rgb(13, 13, 13);
    background: transparent;
    border-radius: 6px;
    padding: 12px 20px;
    border: 2px solid rgb(13, 13, 13);
    }
    
    .ws10-alt-button:hover {
    transition: all 0.4s ease 0s;
    color: #ffffff;
    background: #313131;
    border: 2px solid rgb(13, 13, 13);
    }
    
    .ws10-alt-button:focus {
    transition: all 0.4s ease 0s;
    color: #ffffff;
    background: #313131;
    border: 2px solid rgb(13, 13, 13);
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #005fcc, 0 0 0 4px #fff;
    }
    
    @keyframes highlight {
        0% {
            background: #f4f4f4; 
        }
        100% {
            background: none;
        }
    }
    
    .highlight {
        animation: highlight 1.5s;
    }

    pre { 
      white-space: pre-wrap;
      font-size: 16px;
      background-color: #f4f4f4;
      border-radius: 6px;
      padding: 16px;
    }

    code {

      font-size: 18px;
    background-color: #f4f4f4;
    padding-left: 4px;
    padding-right: 4px;
    }

    .hide {

      display: none;

    }

    .show {

      display: block;
    }


  .result-wrapper {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 32px;
  }

  .progress-result {
    display: -ms-flexbox;
    display: flex;
    height: 28px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #EA1A1A;
    border-radius: 0.25rem;
    margin-bottom: 4px;
    }
    
    .bg-success-result {
    background-color: #008A00!important;
    box-shadow: 6px 0px #ffffff;
    }
    
    .progress-bar-result {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #f4f4f4;
    transition: width .6s ease;
    border-right: transparent;
    width: 0%;
    }

    .percentage-checked-checkboxes-result {
      position: absolute;
      margin-left: 16px;
      font-weight: bold;
      font-size: 16px;
    }

    .percentage-checked-checkboxes-result:after {

   content: " %";

    }


    .percentage-checked-checkboxes-result-rest {
      position: absolute;
      right: 54px;
      font-weight: bold;
      font-size: 16px;
    }

    .percentage-checked-checkboxes-result-rest:after {

   content: " %";

    }

    
ul.checkmark {

  margin-left: -48px;

}


ul.checkmark li {
  font-size: 16px;
  list-style-type: none;
  margin-bottom: 12px;
  padding: 0.25em 0 0 2.5em;
  position: relative;
}


ul.checkmark li:before {
  content: " ";
  display: block;
  border: solid 10px #008A00;
  border-radius: 10px;
  height: 0;
  width: 0;
  position: absolute;
  left: 0.5em;
  top: 48%;
  margin-top: -0.5em;
}


ul.checkmark li:after {
  content: " ";
  display: block;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  position: absolute;
  left: 15px;
  top: 40%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul.fail {

  margin-left: -40px;

}

.ect {
  
 padding-left: 32px!important;
 display:block;
 width: max-content;
  
}

li.error-circle {
  width: 20px;
  position: relative;
  height: 20px;
  background: #EA1A1A;
  border-radius: 50%;
}
li.error-circle::after,li.error-circle::before {
    position: absolute;
    content: '';
    width: 10%;
    left: 45%;
    top: 10%;
    height: 80%;
    background-color: white;
    transform: rotate(-45deg);
}

li.error-circle::before{
    
    transform: rotate(45deg);
}

ul.fail li {
  font-size: 16px;
  list-style-type: none;
  position: relative;
  margin-bottom: 12px;
}


li.disable-circle {
  width: 20px;
  position: relative;
  height: 20px;
  border: solid 2px #4A4D4E;
  border-radius: 50%;
}

li.disable-circle::after,li.disable-circle::before {
  position: absolute;
  content: '';
  width: 10%;
  left: 45%;
  top: 10%;
  height: 80%;
  background-color: #4A4D4E;
  transform: rotate(90deg);
}

.error-circle-progress {
  width: 20px;
  position: absolute;
  right: 95px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
}
.error-circle-progress::after,.error-circle-progress::before {
    position: absolute;
    content: '';
    width: 10%;
    left: 45%;
    top: 10%;
    height: 80%;
    background-color: white;
    transform: rotate(-45deg);
}

.error-circle-progress::before{
    
    transform: rotate(45deg);
}