/* Dark Mode */

body.dark { 
    background-color: #0D0D0D; 
    color: #e6e6e6;
     }

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5 {
color: #e6e6e6;
}

.dark a {
    color: #e6e6e6;
    }
    
.dark a:visited {
    color: #e6e6e6;
    }
    
.dark a:hover {
    color: #f06666;
    }
    
.dark a:active {
    color: #e6e6e6;
    }

.dark a:focus {
    color: #f06666;
    }


.dark .subheading {
color: #e6e6e6;

}

.dark .ws10-text-smaller {
    color: #e6e6e6;

}



.dark .ws10-card {
background-color: #262626;
}

.dark .result-box {
color: #262626;
background-color: #f4f4f4;
}

.dark input[type="checkbox"]{
appearance: none;
width: 20px;
height: 20px;
border: 1px solid #BEBEBE;
background-color: #0D0D0D;
border-radius: 3px;
margin-right: 6px;
margin-left: 0px;
}

.dark input[type="checkbox"]:checked  {
/* Prepare for placing the new checkmark. */  
position: relative;
/* Do a bug fix to keep iOS from adding dark background. */
background: none;
background-color: #0096AD;
border: 1px solid #0096AD;
}

.dark input[type="checkbox"]:disabled {
border: 1px solid #BEBEBE;
background-color: #0D0D0D;
cursor:not-allowed;
opacity: 0.38;
}


.dark [type="checkbox"]:disabled:checked ~ label:after{
color: #777;
cursor:not-allowed;
opacity: 0.1;
}

.dark [type="checkbox"]:disabled  ~ label {
color: #aaa;
cursor:not-allowed;
opacity: 0.6;
}

.dark .ws10-accordion-item__chevron {
stroke: #f06666;
width: 32px;
height: 32px;
background-color: transparent;
transform: rotateX(0deg);
transition-duration: 1s;
transform-origin: center; 
cursor: pointer;
}

.dark .bg-success {
background-color: #e60000!important;
box-shadow: 2px 0px #f4f4f4;
}

.dark .dropbtn {
    color: #f4f4f4;
    padding: 0 0 8px 0px;
    font-size: 16px;
    border: none;
    background: transparent;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.dark .dropbtn:hover {
    color: #f06666;
    border-bottom: 2px solid #f06666;
}



.dark .ws10-accordion-item__chevron--drop {
    stroke: #f4f4f4;
    width: 32px;
    height: 32px;
    background-color: transparent;
    transform: rotateX(0deg);
    transform-origin: center; 
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .dark .ws10-accordion-item__chevron--drop:hover {
    stroke: #f06666;
    width: 32px;
    height: 32px;
    background-color: transparent;
    transform: rotateX(180deg);
    transform-origin: center; 
    cursor: pointer;
  }

.dark .dropdown-content { 
    display: none; 
    position: absolute; 
    background-color: #0D0D0D; 
    min-width: 300px; 
    box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.3);
    border-radius: 3px;
    z-index: 1; 
    }

.dark .dropdown-content a:hover {
        color: #f06666;
        }

.dark .dropdown:hover .dropbtn {
            border-bottom: 2px solid #f06666;
            color: #f06666;
            }

.dark .dropdown-content a:hover {
    color: #f06666;
    }
    

.dark .dropbtn-key {
    border-bottom: 2px solid #f06666;
    color: #f06666;
}

.dark .ws10-accordion-item__chevron--drop-key {
    stroke: #f06666;
}

.dark .dropdown:hover
{
    color: #f06666;

}        
        
.dark .dropdown:hover .dropbtn .ws10-accordion-item__chevron--drop{
            stroke: #f06666;
            }
            

.dark .ws10-alt-button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    transition: all 0.4s ease 0s;
    line-height: 12px;
    height: 44px;
    font-weight: 400;
    background: transparent;
    border-radius: 6px;
    padding: 12px 20px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    }
    
    .dark .ws10-alt-button:hover {
        transition: all 0.4s ease 0s;
        color: #0D0D0D;
        background: #D9D9D9;
        border: 2px solid #D9D9D9;
        }

.dark pre { 
            white-space: pre-wrap;
            font-size: 16px;
            background-color: #0D0D0D;
            border-radius: 6px;
            padding: 16px;
          }
      

.dark code {

    font-size: 18px;
  background-color: #0D0D0D;
  padding-left: 4px;
  padding-right: 4px;
  }


  .dark .result-wrapper {


   background:  #262626;

  }

  .dark .bg-success-result {

    box-shadow: 6px 0px #262626;


  }


  .dark .ws10-form-label {

    color: #ffffff;

  }

  .dark .ws10-button-icon-only--tertiary.ws10-button-icon-only--floating:not(:hover):not(:active):not(:focus) {
    background: transparent;
  }
  .dark .ws10-button-icon-only--floating {
    border-radius: 50%;
    box-shadow: none;
  }
  
  .dark .ws10-button-icon-only--standard {
    width: 48px;
    height: 48px;
  }
  .dark .ws10-button-icon-only--tertiary {
    background: transparent;
    border: 2px solid #D9D9D9;
  }
  .dark .ws10-button-icon-only {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dark .ws10-button-icon-only--tertiary .ws10-button-icon-only__icon {
    stroke: #D9D9D9;
  }
  
 .dark .ws10-button-icon-only__icon {
    width: 32px;
    height: 32px;
  }
  
  .dark .ws10-button-icon-only--tertiary:hover, .ws10-button-icon-only--tertiary:focus {
    background: #D9D9D9;
    cursor: pointer;
    transition: all 0.4s ease 0s;
  }
  
  .dark .ws10-button-icon-only--tertiary:hover .ws10-button-icon-only__icon, .ws10-button-icon-only--tertiary:focus .ws10-button-icon-only__icon {
    stroke: #0D0D0D;
    transition: all 0.4s ease 0s;
  }
  

.dark .ws10-form-text-input .ws10-form-text-input__input {
    border: 1px solid #D9D9D9;
}

.dark .ws10-form-text-input .ws10-form-text-input__input {
    background-color: transparent;
    color: #D9D9D9;

}

.dark .ws10-form-text-input .ws10-form-text-input__input:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #005ea5, inset 0px 0px 0px 1px #d9d9d9;
    box-shadow: 0px 0px 0px 2px #005ea5, inset 0px 0px 0px 1px #d9d9d9;
    border: 1px solid #005ea5;
  }
  


.dark span.disable-circle {
    position: absolute;
    border: solid 2px #D9D9D9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .dark span.disable-circle::after,span.disable-circle::before {
    position: absolute;
    content: '';
    width: 10%;
    left: 45%;
    top: 10%;
    height: 80%;
    background-color: #D9D9D9;
    transform: rotate(90deg);
  }


  .dark .brix-gn__level-one::before {
    background: #333;
    z-index: -1;
    box-shadow: 0 0 4px rgb(51 51 51 / 30%);
  }


  .dark .brix-gn__main-nav-container {
    background-color: #333;
  }

  .dark .brix-gn__level-one {
    background: #333;
}




.dark .brix-gn__level-one-item.brix-gn__level-one-item--selected .brix-gn__level-one-link {
  color: #f06666;
}

.dark .brix-gn__level-one-item.brix-gn__level-one-item--selected {
  box-shadow: 0 -3px #f06666 inset;
}


.dark .brix-gn__skip-to-content {
  display: flex;
  justify-content: center;
  background-color: #f06666; }
.dark .brix-gn__skip-to-content a {
    position: fixed;
    top: -100px;
    padding: 8px 12px;
    margin: 8px 0;
    font-weight: 700;
    font-size: 1.143rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: underline; }
  
.dark .brix-gn__skip-to-content a:focus {
      position: relative;
      top: 0;
      color: #fff; }
      
.dark .brix-gn__skip-to-content a:visited {
      color: #fff; }



      @media only screen and (max-width: 1049px) and (-webkit-min-device-pixel-ratio: 0) {
      
      
      .dark .brix-gn__burger-label {

          background-color: #333;

      }

.dark .burger-icon-show {

  stroke: #f4f4f4;
}

.dark .burger-close-icon-show {

  stroke: #fff;
  background: #EA1A1A;
}

.dark .mobile-main-nav-list-item {
  border-bottom: 1px solid #000000;

}


.dark .mobile-main-nav-container {

  border-left: solid 1px #262626;
  background: #333;

}


.dark .mobile-main-nav-link--selected {
  color: #F06666!important;
}

.dark .mobile-main-nav-chevron-icon--selected {
  stroke: #F06666!important;
}

.dark .mobile-main-nav-chevron-icon {
  stroke: #f4f4f4;

}

    }