body {
    margin:0;
    background-color: #f4f4f4;
    font-family:Vodafone;
    font-style:normal;
    font-weight:400;
    src:url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.eot);src:url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff) format("woff")}
    @font-face{font-display:swap;font-family:Vodafone;font-style:normal;font-weight:700;src:url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.eot);src:url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff) format("woff")}@font-face{font-display:swap;
    font-family:Vodafone; font-style:normal;font-weight:100; src:url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.eot);src:url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2) format("woff2"),url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff) format("woff");
  }


h1, .ws10-h1 {
font-weight: 100;
line-height: 1.25;
color: #0d0d0d;
font-size: 48px;
margin-block-start: 0px;
margin-block-end: 0px;
margin-inline-start: 0px;
margin-inline-end: 0px;

}


h2, .ws10-h2 {
margin-block-start: 0px;
margin-block-end: 0px;
margin-inline-start: 0px;
margin-inline-end: 0px;
}


h2, .ws10-h2 {
font-size: 34px;
font-weight: 100;
line-height: 1.25;
color: #0d0d0d;
margin-bottom: 20px;
}


h3, .ws10-h3 {
font-weight: 700;
line-height: 1.25;
color: #0d0d0d;
font-size: 30px;
margin-bottom: 16px;
margin-top: 16px;
}

@media screen and (min-width: 600px) {
h4, .ws10-headline--h4 {
    font-size: 24px;
}

h4, .ws10-headline--h4 {
    font-weight: 700;
    line-height: 1.25;
    color: #0d0d0d;
    font-size: 20px;
    margin-bottom: 16px;
    margin-block-start: 0px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
}

a {
color: #0d0d0d;
}


a:hover {
color: #e60000;
}

a:active {
color: #0d0d0d;
}

a:focus {
  color: #e60000;
  }


/* Global Navigation */

.brix-gn {
  position: fixed;
  width: 100%;
  height: 110px;
  z-index: 22;
  top: 0px;
  left: 0px;
}


.brix-gn .brix-gn__wrapper {
  position: fixed;
  width: 100%;
}

.brix-gn__main-nav {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}

.brix-gn__logo {
  width: 48px;
  height: 48px;
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  z-index: 2;
}

.brix-gn__main-nav-container {
  background-color: #fff;
}

.brix-gn__level-one {
  display: flex;
  flex-direction: row;
  background: #fff;
  padding-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
}

.brix-gn__level-one::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background: #fff;
  z-index: -1;
  box-shadow: 0 0 4px rgb(51 51 51 / 30%);
}


.brix-gn__level-one-item {
  list-style: none;
  font-size: 1.714rem;
  font-weight: 100;
  line-height: 1.25;
  margin: 0;
}

.brix-gn__level-one-item.brix-gn__level-one-item--selected .brix-gn__level-one-link {
  color: #e60000;
}
.brix-gn__level-one-item .brix-gn__level-one-link {
  display: block;
  padding: 24px 16px;
  text-decoration: none;
    cursor: pointer;
    font-size: 22px;
}

@media (min-width: 1025px) {
.brix-gn__meta-nav {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    background-color: #000;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
}
.brix-gn__meta-nav {
    display: flex;
    flex-direction: column;
    position: relative;
}

.brix-gn__meta-nav::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background: #000;
  z-index: -1;
}

}

@media (min-width: 1025px) {
.brix-gn__meta-nav-list {
    display: flex;
    flex-direction: row;
}

.brix-gn__meta-nav-item.brix-gn__meta-nav-item--selected {
  background: #fff;
}
.brix-gn__meta-nav-item {
  font-size: 1.143rem;
  line-height: 1.5;
}

.brix-gn__meta-nav-item.brix-gn__meta-nav-item--selected .brix-gn__meta-nav-link {
  color: #333;
}
.brix-gn__meta-nav-item .brix-gn__meta-nav-link {
  display: block;
  padding: 4px 16px;
  color: #fff;
}

.brix-gn__level-one-item.brix-gn__level-one-item--selected {
  box-shadow: 0 -3px #e60000 inset;
}
.brix-gn__level-one-item {
  list-style: none;
  font-size: 1.714rem;
  font-weight: 100;
  line-height: 1.25;
  margin: 0;
}
}

.brix-gn__skip-to-content {
  display: flex;
  justify-content: center;
  background-color: #e60000; }
  .brix-gn__skip-to-content a {
    position: fixed;
    top: -100px;
    padding: 8px 12px;
    margin: 8px 0;
    font-weight: 700;
    font-size: 1.143rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: underline; }
    .brix-gn__skip-to-content a:focus {
      position: relative;
      top: 0;
      color: #fff; }
    .brix-gn__skip-to-content a:visited {
      color: #fff; }


      footer {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        color: #fff;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

      .brix-gn-footer {
        position: relative;
        background-color: #000;
        color: #fff;
    }

    .brix-gn-footer__main-nav {
      position: relative;
      max-width: 1050px;
      margin: 0 auto 32px;
  }

  .brix-gn-footer__main-nav::after {
    position: relative;
    display: block;
    content: '';
    height: 1px;
    background: #999;
    margin: 0 16px;
}

  .brix-gn-footer__level-one {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 36px 0 16px;
    list-style: none;
}

.brix-gn-footer__level-one-item {
  font-size: 1.429rem;
  font-weight: 700;
  line-height: 1.25;
  width: 25%;
}

.brix-gn-footer__level-one-item .brix-gn__chevron-label {
  position: relative;
  top: auto;
  right: auto;
  width: auto;
  padding: 12px 0;
  font-size: 20px;
}

.brix-gn-footer__level-two {
  position: relative;
  color: #ffffff;
  padding: 12px 4px 0 0;
}

.brix-gn-footer__level-two-item {
  font-size: 1.143rem;
  font-weight: 400;
  line-height: 1.5;
  list-style: none;
  font-size:16px;
  text-decoration:none;
  padding: 4px 0 4px 0px;
}

.brix-gn-footer__level-two-item a {

  text-decoration:none;
}

.brix-gn-footer__level-two-item a:hover {

  text-decoration:underline;
 
}

.brix-gn-footer a {
  color: #fff;
}

.brix-gn-footer__level-two-link a {
  display: block;
  color: #fff;
  padding: 4px 16px;
  text-decoration: none;
  
}

.brix-gn-footer__level-two-link a:visited {
  display: block;
  color: #fff;
  padding: 4px 16px;
  text-decoration: none;
}

.brix-gn-footer__level-two-link a:focus {
  display: block;
  color: #fff;
  padding: 4px 16px;
  text-decoration: underline;
}


.brix-gn-footer__main-nav::after {
  position: relative;
  display: block;
  content: '';
  height: 1px;
  background: #999;
  margin: 0;
}

.brix-gn-footer__legal-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 32px;
}


.brix-gn-footer__legal-item {
  position: relative;
  font-size: 0.857rem;
  line-height: 1.5;
  list-style: none;
}

.brix-gn-footer__legal-item a {
text-decoration: none;
font-size:12px;
}

.brix-gn-footer__legal-item a:hover {
  text-decoration: underline;
  }

.brix-gn-footer__copy-text, .brix-gn-footer__legal-link {
  position: relative;
  display: block;
  padding: 6px;
  margin-top: -2px;
  margin-bottom: -2px;
  color: #fff;
}


abbr {
  position: relative;
  text-decoration: unset;
  }

  abbr[title], acronym[title] {
    border-bottom: none;
}



.subheading { 
font-weight: 100;
line-height: 1.25;
color: #0d0d0d;
font-size: 18px;
margin-bottom: 16px;
width: 80%;
}

.rule-description-highlight {

font-weight: bold;
}

.strike-through {
text-decoration: line-through;
}

.highlight-input {

font-weight: bold;
text-decoration: underline;

}

.ws10-text-smaller {
  font-weight: 400;
  line-height: 1.5;
  color: #0d0d0d;
  font-size: 14px;
}

.ws10-text {
  font-weight: 400;
  line-height: 1.5;
  color: #0d0d0d;
  font-size: 18px;
  margin-bottom: 16px;
}


.ws10-card--shadow-wide {
box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}
.ws10-card--background-white {
background-color: #fff;
}
.ws10-card {
width: 100%;
padding: 24px 24px 32px 24px;
margin-bottom: 32px;
border-radius: 6px;
}

.checkrow {
border-bottom: 1px solid #333;
}

.result-box {
position: -webkit-sticky; /* Safari */
position: sticky;
bottom: 0;
padding: 16px;
background-color: #0D0D0D;
font-size: 18px;
border-radius: 6px;
color: #f4f4f4;
}

.result-button-wrapper {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 16px;

}



/* Checkbox Styling */

@supports(appearance: none) {

 input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 3px;
    margin-right: 6px;
    margin-left: 0px;
}
 input[type="checkbox"]:checked {
    position: relative;
    background: none;
    background-color: rgb(0, 105, 124);
    border: 1px solid rgb(0, 105, 124);
}
input[type="checkbox"]:checked::after {
    position: absolute;
    top: 4px; 
    left: 4px;
    content: "";
    width: 9px;
    height: 6px;
    border: 1px solid #fff;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
}
}

input[type="checkbox"]:disabled {
border: 1px solid rgba(38, 38, 38, 0.38);
background-color: rgb(242, 242, 242);
cursor:not-allowed;
}


[type="checkbox"]:disabled:checked ~ label:after {
    color: #777;
cursor:not-allowed;
}

[type="checkbox"]:disabled  ~ label {
    color: #aaa;
cursor:not-allowed;
}


/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}

.rule-description-disabled {
color: #aaa;
cursor:not-allowed;
}

/* Checkbox Styling End */



.check-info thead tr th {
border-bottom: #333 solid 1px;
border-collapse:separate; border-spacing:5px 5px;

}

.hide-checkbox {

display:none;

}


.hidden-form-check {
display: none;
}

#table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    
}

table tfoot {
position: sticky;
}

table tfoot {
inset-block-end: 0; /* "bottom" */
}

#content-wrapper {

margin: auto;
width: 100%;
min-width: 800px;
max-width: 1050px;
padding-top: 120px;
}

.heading {

padding-bottom: 16px;

}



label.header {
display: table-row;
background-color: #7e7e7e;
}






.acc {
border-top: 1px solid #bebebe;
padding-top: 24px;
padding-bottom: 24px;
font-size: 20px;
width: 80%;
}


.acc-last {

border-bottom: 1px solid #bebebe;

}


.acc-left {

margin-left: 24px;
}



.ws10-accordion-item__chevron {
  stroke: #bd0000;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transform: rotateX(0deg);
  transform-origin: center; 
  cursor: pointer;
}
  .ws10-accordion-item--disabled .ws10-accordion-item__chevron {
    display: none; }


    .ws10-accordion-item__chevron-demo {
      stroke: #bd0000;
      width: 32px;
      height: 32px;
      background-color: transparent;
      transform: rotateX(0deg);
      transform-origin: center;
  }   

.ws10-accordion-item__icon {
  display: inline-block;
  margin-right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  fill: #0d0d0d;
  stroke: #0d0d0d; 
  transform: rotateX(0deg);
transition-duration: 1s;  

}
  .ws10-accordion-item__icon::before {
    width: 100%;
    height: 100%; }
  .ws10-accordion-item--disabled .ws10-accordion-item__icon {
    background-color: #7e7e7e; }
  .ws10-accordion-item__icon--chevron {
    background: transparent; }
  .ws10-accordion-item__icon--left + .ws10-accordion-item__icon--stepper {
    visibility: hidden;
    position: absolute; }

    .ws10-accordion-item__checked {
transform: rotateX(180deg);
transition-duration: 0.8s;
}

.accord-header {
cursor: pointer;
}

.space-150 {

padding-top:24px;
}

.space-100 {

  padding-top:16px;
  }
  

.accord-content {
display: none;
grid-column-start: 1;
grid-column-end: 2;
justify-self: stretch;
padding-left: 26px;
}

.grid-container {
display: grid; 
grid-template-columns: 81% 14% 4%;
gap: 0px 8px; 
max-width: 996px;
}

.bitvlist {

  list-style: none;
  padding-left: 0px;
}

.bitv-step-number {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;

}

.acc-list {

  border-bottom: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  padding-top: 12px;
  padding-bottom: 24px;
  font-size: 18px;
  width: 100%;
  margin-top: -1px;

}

.ws10-highlight-badge--gray {
  background-color: #eee;
  color: #fff;
  stroke: #fff;
  fill: #fff;
}
.ws10-highlight-badge--standard span{
  min-height: 24px;
  padding: 0px 8px;
}

.ws10-highlight-badge {
  font-weight: bold;
  line-height: 1.5;
  color: #0d0d0d;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 100px;
  max-width: 100%;
  line-height: 24px;
  margin-right: 8px;
}

.ws10-highlight-badge--standard span:empty {
  display:none;
}

.is-empty {
  display: none;
}


.ws10-highlight-badge:has(.ws10-highlight-badge__text:empty) {
  display: none;
}

.grid_item_text-togglehead {
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: end;
  -ms-flex-align: center;
  align-items: center;
  justify-self: stretch;
}


.toggle-link {

  width: fit-content;
    float: right;
}


.accord-content-ul {
  display: none;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: stretch;
  padding-left: 0px;
  }

  #filter-options {

  float:left;
  list-style-type: none;
  padding:0;
  margin:0;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 12px;

  }

  #filter-options li{
    display: inline-block;
  }

  .filter {

margin-bottom: 32px;

  }
  
  #product-list{
    display: block;
  }
  
  .cat{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    box-shadow: inset 0 0 0 1px #0d0d0d;
    border-radius: 100px;
    background: #fff;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .cat:hover {
    box-shadow: inset 0 0 0 2px #0d0d0d;
}
  
  .cat label {
    cursor: pointer;
  }
  
  .cat label span {
    cursor: pointer;
  }
  
  .cat label input {
    position: absolute;
    display: none;
    color: #fff !important;
  }
  /* selects all of the text within the input element and changes the color of the text */
  .cat label input + span{color: #0d0d0d;}
  
  
  /* This will declare how a selected input will look giving generic properties */
  .cat input:checked + span {
      color: #ffffff;
      padding: 8px 12px;
      border-radius: 100px;
      white-space: nowrap;
  }
  

  .round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  
.interactionList {
box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
border-radius: 6px;
  
}

  
  /*
  This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
  */
  
  .action input:checked + span {
    
    
    background-color: #00697c;
    color: #fff;
    margin: -12px;
    padding: 12px; 
  }

  .ws10-highlight-badge--filteractive {
    background-color: #00697c;
    color: #fff!important;
    stroke: #fff;
    fill: #fff;
}

.acc-expander {
  text-align: right;
  padding: 8px;
}


.grid_item_checkbox {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: left;
justify-content: left;
-ms-flex-align: center;
align-items: center;
justify-self: self-start;

}

.grid_item_label {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content:start;
-ms-flex-align: center;
align-items: center;
justify-self: stretch;
overflow: hidden;
padding-left: 2px;
}

.grid_item_text {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-align: center;
align-items: center;
justify-self: stretch;
}

.grid_item_text-2 {
border-radius: 5px;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-align: center;
align-items: center;
justify-self: stretch;
}


.progress {
display: -ms-flexbox;
display: flex;
height: 8px;
overflow: hidden;
font-size: .75rem;
background-color: rgb(190, 190, 190);
border-radius: 0.25rem;
margin-bottom: 4px;
}
*, ::after, ::before {
box-sizing: border-box;
}

.bg-success {
background-color: rgb(234, 26, 26)!important;
box-shadow: 2px 0px #262626;
}

.progress-bar {
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: center;
justify-content: center;
overflow: hidden;
color: #fff;
text-align: center;
white-space: nowrap;
background-color: #f4f4f4;
transition: width .6s ease;
border-right: transparent;
width: 0%;
}

.progress100p {

    display: none;

}

*, ::after, ::before {
box-sizing: border-box;
}


.digit {

font-weight: bold;
font-size: 20px;

}





.mode { 
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  right: 0;
} 

.darkmode { 
    cursor: pointer; 
    border: 1px solid #555; 
    border-radius: 10%; 
    width: 20px; 
    text-align: center; 
    padding: 8px; 
    margin-left: 8px; 
} 


/* Dropdown Button */ 
.dropbtn { 
color: #333; 
padding: 0 0 8px 0px;
font-size: 16px; 
border: none; 
background: transparent;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
border-bottom: 2px solid rgba(255, 255, 255, 0);
-webkit-background-clip: padding-box; /* for Safari */
background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

/* The container <div> - needed to position the dropdown content */ 
.dropdown { 
position: relative; 
display: inline-block;
}

 .dropdown-content { 
display: none; 
position: absolute; 
background-color: #fff; 
min-width: 300px; 
box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.3);
border-radius: 3px;
z-index: 1; 
}


.dropdown-content a { 
color: #0d0d0d; 
padding: 12px 16px; 
text-decoration: none; 
display: block; 
}


.dropdown-content a:hover {
color: #e60000;
}

.dropdown-content a:focus {
  color: #e60000;
  }

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn .ws10-accordion-item__chevron--drop{
transform: rotateX(180deg);
transition: transform 0.5s;
stroke: #e60000;
}

.dropdown:hover .dropbtn {
border-bottom: 2px solid #e60000;
color: #e60000;
cursor: pointer;
}

.dropbtn-key {
    border-bottom: 2px solid #e60000;
    color: #e60000;
}


.ws10-accordion-item__chevron--drop {
  stroke: #333;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transform: rotateX(0deg);
  transform-origin: center; 
  cursor: pointer;
  transition: transform 0.5s;
}

.ws10-accordion-item__chevron--drop:hover {
  stroke: #bd0000;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transform: rotateX(180deg);
  transform-origin: center; 
  cursor: pointer;
}

.ws10-accordion-item__chevron--drop-key {
    transform: rotateX(180deg);
    transition: transform 0.5s;
    stroke: #e60000;
}

.dark-mode-switcher {
    cursor: pointer; 
    padding: 8px; 
    margin-left: 8px; 
}

.ws10-prime-button {
  font-family:Vodafone; font-style:normal;font-weight:100;
  font-size: 18px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  transition: all 0.4s ease 0s;
  line-height: 12px;
  height: 44px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 6px;
  padding: 12px 20px;
  background: rgb(234, 26, 26);
  border: 2px solid transparent;
  }
  
  .ws10-prime-button:hover {
  transition: all 0.4s ease 0s;
  color: rgb(255, 255, 255);
  background: rgb(195, 0, 0);
  border-color: transparent;
  }
  
  .ws10-prime-button:focus {
  transition: all 0.4s ease 0s;
  color: #ffffff;
  background: rgb(195, 0, 0);
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #005fcc, 0 0 0 4px #fff;
  }



.ws10-alt-button {
  font-family:Vodafone; font-style:normal;font-weight:100;
  font-size: 18px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    transition: all 0.4s ease 0s;
    line-height: 12px;
    height: 44px;
    font-weight: 400;
    color: rgb(13, 13, 13);
    background: transparent;
    border-radius: 6px;
    padding: 12px 20px;
    border: 2px solid rgb(13, 13, 13);
    }
    
    .ws10-alt-button:hover {
    transition: all 0.4s ease 0s;
    color: #ffffff;
    background: #313131;
    border: 2px solid rgb(13, 13, 13);
    }
    
    .ws10-alt-button:focus {
    transition: all 0.4s ease 0s;
    color: #ffffff;
    background: #313131;
    border: 2px solid rgb(13, 13, 13);
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #005fcc, 0 0 0 4px #fff;
    }
    
    @keyframes highlight {
        0% {
            background: #f4f4f4; 
        }
        100% {
            background: none;
        }
    }
    
    .highlight {
        animation: highlight 1.5s;
    }

    pre { 
      white-space: pre-wrap;
      font-size: 16px;
      background-color: #f4f4f4;
      border-radius: 6px;
      padding: 16px;
    }

    code {

      font-size: 18px;
    background-color: #f4f4f4;
    padding-left: 4px;
    padding-right: 4px;
    }

    .hide {

      display:none;

    }


    .hide-report-text {

      display: none!important;

    }

    .show {

      display: block;
    }


  .result-wrapper {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 32px;
  }

  .progress-result {
    display: -ms-flexbox;
    display: flex;
    height: 28px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #EA1A1A;
    border-radius: 0.25rem;
    margin-bottom: 4px;
    width: 800px;
    }
    
    .bg-success-result {
    background-color: #008A00!important;
    box-shadow: 6px 0px #ffffff;
    }
    
    .progress-bar-result {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #f4f4f4;
    transition: width .6s ease;
    border-right: transparent;
    width: 0%;
    }

    .percentage-checked-checkboxes-result {
      position: absolute;
      margin-left: 32px;
      font-weight: bold;
      font-size: 16px;
    }

    .percentage-checked-checkboxes-result:after {

   content: " %";

    }


    .percentage-checked-checkboxes-result-rest {
      color: #ffffff;
      font-weight: bold;
      font-size: 16px;
      align-self: center;
    }

    .percentage-checked-checkboxes-result-rest:after {

   content: " %";

    }

    
ul.checkmark {

  margin-left: -48px;

}


ul.checkmark li {
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 12px;
  padding: 0.25em 0 0 2.2em;
  position: relative;
}


ul.checkmark li:before {
  content: " ";
  display: block;
  border: solid 10px #008A00;
  border-radius: 10px;
  height: 0;
  width: 0;
  position: absolute;
  left: 0.5em;
  top: 48%;
  margin-top: -0.5em;
}


ul.checkmark li:after {
  content: " ";
  display: block;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  position: absolute;
  left: 16px;
  top: 38%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul.fail {

  margin-left: -40px;

}

.ect {
  
 padding-left: 32px!important;
 display:block;
  
}

span.error-circle {
  width: 20px;
  position: absolute;
  height: 20px;
  background: #EA1A1A;
  border-radius: 50%;
}
span.error-circle::after,span.error-circle::before {
    position: absolute;
    content: '';
    width: 10%;
    left: 45%;
    top: 10%;
    height: 80%;
    background-color: white;
    transform: rotate(-45deg);
}

span.error-circle::before{
    
    transform: rotate(45deg);
}

ul.fail li {
  font-size: 18px;
  list-style-type: none;
  position: relative;
  margin-bottom: 12px;
}


span.disable-circle {
  position: absolute;
  border: solid 2px #4A4D4E;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

span.disable-circle::after,span.disable-circle::before {
  position: absolute;
  content: '';
  width: 10%;
  left: 45%;
  top: 10%;
  height: 80%;
  background-color: #4A4D4E;
  transform: rotate(90deg);
}

.error-circle-progress {
  width: 14px;
  background: transparent;
  border-radius: 50%;
  margin-left: 24px;
  margin-top: 7px;
}
.error-circle-progress::after,.error-circle-progress::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 15px;
    background-color: white;
    transform: rotate(-45deg);
}

.error-circle-progress::before{
    
    transform: rotate(45deg);
}


.checkmark-progress {
  font-size: 16px;
  list-style-type: none;
  margin-bottom: 8px;
  padding: 0.25em 0 0 2.5em;
  position: relative;
}


.checkmark-progress :before {
  content: " ";
  display: block;
  border: solid 10px #008A00;
  border-radius: 10px;
  height: 0;
  width: 0;
  position: absolute;
  left: 0.5em;
  top: 48%;
  margin-top: -0.5em;
}


.checkmark-progress:after {
  content: " ";
  display: block;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  position: absolute;
  left: 15px;
  top: 40%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}


#overlay{
  background: rgba(0,0,0,0.6);
  z-index: 1001;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
}


.overlay_container {
  position: absolute;
  overflow: scroll;
  z-index: 2;
  transition: transform 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transform: translateX(0) translateY(0);
  border-radius: 6px;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 900px;
  min-height: 104px;
  max-height: 90vh;
}



.ws10-overlay__close {
  position: absolute;
  top: 16px;
  right: 32px;
  z-index: 1;
}


.ws10-button-icon-only--tertiary.ws10-button-icon-only--floating:not(:hover):not(:active):not(:focus) {
  background: #fff;
}

.ws10-button-icon-only--tertiary:hover, .ws10-button-icon-only--tertiary:focus {
  background: #313131;
  cursor: pointer;
}


.ws10-button-icon-only--floating {
  border-radius: 50%;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}

.ws10-button-icon-only--standard {
  width: 48px;
  height: 48px;
}
.ws10-button-icon-only--tertiary {
  background: transparent;
  border: 2px solid #0d0d0d;
}
.ws10-button-icon-only {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ws10-button-icon-only--tertiary .ws10-button-icon-only__icon {
  stroke: #0d0d0d;
}

.ws10-button-icon-only--tertiary:hover .ws10-button-icon-only__icon, .ws10-button-icon-only--tertiary:focus .ws10-button-icon-only__icon {
  stroke: #fff;
}

.ws10-button-icon-only__icon {
  width: 32px;
  height: 32px;
}



.ws10-button--tertiary.ws10-button--icon:hover .ws10-system-icon, .ws10-button--tertiary.ws10-button--icon:focus .ws10-system-icon, .ws10-button--tertiary.ws10-button--icon:active .ws10-system-icon {
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  stroke: #fff;
  fill: #fff; }
.ws10-button--tertiary:active {
  border-color: #565656; }
.ws10-button--tertiary.ws10-button--icon .ws10-system-icon {
  stroke: #0d0d0d;
  fill: #0d0d0d; }
.ws10-button--tertiary-inverse {
border: 2px solid #fff;
box-shadow: unset; }
.ws10-button--tertiary-inverse:hover, .ws10-button--tertiary-inverse:focus-visible:not([disabled]), .ws10-button--tertiary-inverse:active {
  border-color: #d9d9d9;
  color: #0d0d0d !important; }
.ws10-button--tertiary-inverse.ws10-button--icon:hover .ws10-system-icon, .ws10-button--tertiary-inverse.ws10-button--icon:focus .ws10-system-icon, .ws10-button--tertiary-inverse.ws10-button--icon:active .ws10-system-icon {
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  stroke: #0d0d0d;
  fill: #0d0d0d; }
.ws10-button--tertiary-inverse:active {
  border-color: #b3b3b3; }
.ws10-button--tertiary-inverse.ws10-button--icon .ws10-system-icon {
  stroke: #fff;
  fill: #fff; }

  ws10-button--tertiary, .ws10-button--tertiary:visited {
    color: #0d0d0d; }
  .ws10-button--tertiary:hover {
    background-color: #313131; }
  .ws10-button--tertiary:focus-visible:not([disabled]) {
    background-color: #313131; }
  .ws10-button--tertiary:active {
    background-color: #565656; }
  .ws10-button--tertiary-inverse, .ws10-button--tertiary-inverse:visited {
    color: #fff; }
  .ws10-button--tertiary-inverse:hover {
    background-color: #d9d9d9; }
  .ws10-button--tertiary-inverse:focus-visible:not([disabled]) {
    background-color: #d9d9d9; }
  .ws10-button--tertiary-inverse:active {
    background-color: #b3b3b3; }
  
.no-mouse {

  pointer-events: none;

}

.ws10-no-scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
}


.ws10-form-element-block__label-container {
  display: block;
  margin-bottom: 8px;
}

.ws10-form-label {
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 16px;
  color: #0d0d0d;
  transition: all .2s cubic-bezier(.47,0,.745,.715);
}

.ws10-form-text-input {
  margin-bottom: 8px;
}
.ws10-form-text-input {
  position: relative;
}

.ws10-form-text-input .ws10-form-text-input__input {
    width: 100%;
    display: block;
    padding: 9px 16px 9px 16px;
    background-color: #fff;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #0d0d0d;
    font-weight: 400;
    font-family: Vodafone,Arial,sans-serif;
    font-size: 20px;
    line-height: 28px;
}
.ws10-form-text-input .ws10-form-text-input__input {
    border-radius: 6px;
    border: 1px solid #262626;
}


input[type=text], select, textarea {
    border: 0;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 1px 3px rgb(50 50 50 / 60%) inset;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}


.ws10-form-text-input .ws10-notification-icon {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 12px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.ws10-form-text-input .ws10-system-icon {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 24px;
  height: 24px;
}
svg {
  display: inline-block;
  vertical-align: middle;
  fill: #333;
  width: inherit;
  height: inherit;
}

.ws10-form-text-input .ws10-form-text-input__input:focus {
  border-color: #005ea5;
  box-shadow: inset 0 0 0 1px #005ea5;
}


.ws10-grid {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 16px;
}

.ws10-grid .ws10-column {
  flex-grow: 0;
}

.ws10-grid .ws10-column--medium-6 {
  flex-basis: calc(50% + 16px);
}


.ws10-grid .ws10-column--12 {
  flex-basis: 100%;
}

.bold {

  font-weight: bold;

}

.hide-text {

  display: contents!important;

}

.hide-text-block {

  display: block!important;

}

.small-view-navi {
  display:none;
  }

  .brix-gn__cb-hack-input {
    display: none;
}

.brix-gn__burger-label-icon {
display: none;
}

.brix-gn__burger-label {
display:none;
}

.mobile-main-nav-container {
  display:none;
}

.mobile-footer-chevron-icon {
  position: absolute;
  display: none;
  top: 20px;
  right: 24px;
  width: 1.714rem;
  height: 1.714rem;
  stroke: #fff;
  transform: translate(50%, 50%) scaleY(1) rotate(0deg);
}

.desk-hide {
display:none;

}

/* Small desktop view */


@media only screen and (max-width: 1049px) and (-webkit-min-device-pixel-ratio:0) {

  h1, .ws10-h1 {
    font-weight: 100;
    line-height: 1.25;
    color: #0d0d0d;
    font-size: 36px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    }
    
    
    h2, .ws10-h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
    
    
    h2, .ws10-h2 {
    font-size: 34px;
    font-weight: 100;
    line-height: 1.25;
    color: #0d0d0d;
    margin-bottom: 20px;
    }
    
    
    h3, .ws10-h3 {
    font-weight: 700;
    line-height: 1.25;
    color: #0d0d0d;
    font-size: 30px;
    margin-bottom: 16px;
    margin-top: 16px;
    }
    

  .brix-gn__cb-hack-input {
    display: block;
    position: absolute;
    left: -16px;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.brix-gn__burger-label {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
  background-color: #fff;
  z-index: 2;
  display:block;
}


.brix-gn__cb-hack-input:checked + .brix-gn__burger-label::before {
  position: absolute;
  display: block;
  content: '';
  top: 12px;
  left: 12px;
  width: 40px;
  height: 40px;
  background: #e60000;
}

.burger-close-icon-hide {
  display:none;
}

.burger-close-icon-show {
  display: block;
  position: relative;
  width: 2.285rem;
  height: 2.285rem;
  stroke: #fff;
  background: #e60000;
}

.burger-icon-show {
  display: block;
  position: relative;
  width: 2.285rem;
  height: 2.285rem;
  stroke: #333;
}

.burger-icon-hide {
  display:none;
}


.brix-gn__burger-label-icon {
  position: relative;
  width: 2.285rem;
  height: 2.285rem;
  stroke: #333;
}

.brix-gn__burger-label-icon:last-child {
  display: none;
}

.brix-gn__level-one-link{
  display: none !important;;
}

.small-view-navi {

display:block;
width:100%;
height:69px;

}

.mobile-main-nav-container {
  display: block;
  position: absolute;
  top: 69px;
  align-self: flex-end;
  overflow-y: auto;
  height: calc(100vh - 64px);
  border-left: solid 1px #f4f4f4;
  background: #fff;
  right: 0;
  z-index: -1;
  width: 309px;
}

.overlay-nav {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index:-99;
    width:100%;
    height:2000px;
}

.mobile-main-nav-link {
  position: relative;
  display: table-cell;
  padding: 16px 75px 16px 15px;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
  text-decoration: none;
  width: 500px;
  color:#333;
}

.mobile-main-nav-link--selected {
color:#e60000;
}

.mobile-main-nav-list {
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;

}

.mobile-main-nav-list-item {
  border-bottom: 1px solid #f4f4f4;
  position: relative;
}

.mobile-main-nav-chevron-icon {
  position: absolute;
  display: block;
  top: 0;
  right: 32px;
  width: 1.714rem;
  height: 1.714rem;
  stroke: #333;
  transform: translate(50%, 50%) scaleY(1) rotate(-90deg);
  transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.mobile-main-nav-chevron-icon--selected {
  stroke: #e60000;
}


.ws10-alt-button {
  font-family: Vodafone;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  transition: all 0.4s ease 0s;
  line-height: 12px;
  height: 44px;
  font-weight: 400;
  color: rgb(13, 13, 13);
  background: transparent;
  border-radius: 6px;
  padding: 12px 20px;
  border: 2px solid rgb(13, 13, 13);
  margin-right: 70px;
}


  .grid-container {
    display: grid;
    grid-template-columns: 78% 15% 4%;
    gap: 0px 8px;
  }

  .ws10-no-scroll {
    position:initial;
    overflow: hidden;
    width: 100%;
  }

  .ws10-card {
    width: 100%;
    padding: 24px 16px 32px 16px;
    margin-bottom: 32px;
    border-radius: 0px;
}



.subheading {
  font-weight: 100;
  line-height: 1.25;
  color: #0d0d0d;
  font-size: 18px;
  margin-bottom: 16px;
  width: 100%;
}

.small-vw

{
padding-left:16px;
padding-right:16px;

}

  #content-wrapper {
    margin: auto;
    width: 100%;
    min-width: auto;
    padding-top: 100px;
}

.acc {
  border-top: 1px solid #bebebe;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 18px;
  width: 80%;
}



.result-button-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 16px;
}

.count-checkboxes-wrapper {

  margin-bottom: 16px;
}


.overlay_container {
  position: absolute;
  overflow: scroll;
  z-index: 2;
  transition: transform 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transform: translateX(0) translateY(0);
  border-radius: 0px;
  transform: translateX(-50%) translateY(-50%);
  top: 53%;
  left: 50%;
  width: 100%;
  min-height: 100%
  /* max-height: 90vh; */
}

.progress-result {
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  overflow: hidden;
  font-size: .75rem;
  background-color: #EA1A1A;
  border-radius: 0.25rem;
  margin-bottom: 4px;
  width: auto!important;
}

.result-box {
  border-radius: 0px;
}


.brix-gn-footer__level-one {
  flex-direction: column;
  padding: 16px 0 80px;
}

.brix-gn-footer__level-one-item:first-child {
  border-top: solid 1px #999;
  
}

.brix-gn-footer__level-one-item {
  font-size: 1.286rem;
  font-weight: 400;
  line-height: 2.285rem;
  width: 100%;
  border-bottom: solid 1px #999;
  padding: 12px 0px 0px 0px;
}

.brix-gn-footer__level-one-item .brix-gn__chevron-label {
  padding: 24px 52px 24px 16px;
}

.brix-gn-footer__level-two {
  visibility: hidden;
  max-height: 0px;
  overflow: hidden;
}

.brix-gn-footer__level-one-item .brix-gn__chevron-label {
  position: relative;
  top: auto;
  right: auto;
  width: auto;
  padding: 0px 16px;
  font-size: 16px;
}

.brix-gn-footer__main-nav::after {
  position: relative;
  display: none;
  content: '';
  height: 1px;
  background: #999;
  margin: 0;
}

.brix-gn-footer__main-nav {
  position: relative;
  max-width: 1050px;
  margin: 0 auto 0px;
}


.mobile-footer-chevron-icon {
  position: absolute;
  display: block;
  top: 0px;
  right: 24px;
  width: 1.714rem;
  height: 1.714rem;
  stroke: #fff;
  transform: translate(50%, 50%) scaleY(1) rotate(0deg);
  margin-top: -8px;
  transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


.mobile-footer-chevron-icon-open {
  position: absolute;
  display: block;
  top: 0px;
  right: 24px;
  width: 1.714rem;
  height: 1.714rem;
  stroke: #fff;
  transform: translate(50%, 50%) scaleY(1) rotate(180deg);
  margin-top: -8px;
  transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.mobile-rel {
 position:relative;

}

.mobile-hide {
  display:none;
}

.desk-hide {
  display:block;
  
  }


}







/* Tablet view */


@media only screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio:0) {

  .grid-container {
    display: grid;
    grid-template-columns: 68% 21% 7%;
    gap: 0px 8px;
  }

  .ws10-no-scroll {
    position:initial;
    overflow: hidden;
    width: 100%;
  }

  .brix-gn__level-one-item
{

  visibility: hidden;
}

  #content-wrapper {
    margin: auto;
    width: 100%;
    min-width: auto;
    padding-top: 100px;
}

.acc {
  border-top: 1px solid #bebebe;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 18px;
  width: 80%;
}



.result-button-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 16px;
}

.count-checkboxes-wrapper {

  margin-bottom: 16px;
}


.overlay_container {
  position: absolute;
  overflow: scroll;
  z-index: 2;
  transition: transform 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transform: translateX(0) translateY(0);
  border-radius: 0px;
  transform: translateX(-50%) translateY(-50%);
  top: 53%;
  left: 50%;
  width: 100%;
  min-height: 100%
  /* max-height: 90vh; */
}

.progress-result {
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  overflow: hidden;
  font-size: .75rem;
  background-color: #EA1A1A;
  border-radius: 0.25rem;
  margin-bottom: 4px;
  width: auto!important;
}

.result-box {
  border-radius: 0px;
}



}






/* Mobile view */


@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio:0) {
  
  .grid-container {
    display: grid;
    grid-template-columns: 68% 21% 7%;
    gap: 0px 8px;
  
  }

  .ws10-no-scroll {
    position:initial;
    overflow: hidden;
    width: 100%;
  }

  .brix-gn__level-one-item
{

  visibility: hidden;
}

.small-vw

{
padding-left:8px;
padding-right:8px;

}

  #content-wrapper {
    margin: auto;
    width: 100%;
    min-width: auto;
    padding-top: 100px;
}

.acc {
  border-top: 1px solid #bebebe;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 18px;
  width: 80%;
}



.result-button-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 16px;
}

.count-checkboxes-wrapper {

  margin-bottom: 16px;
}


.overlay_container {
  position: absolute;
  overflow: scroll;
  z-index: 2;
  transition: transform 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transform: translateX(0) translateY(0);
  border-radius: 0px;
  transform: translateX(-50%) translateY(-50%);
  top: 53%;
  left: 50%;
  width: 100%;
  min-height: 100%
  /* max-height: 90vh; */
}

.progress-result {
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  overflow: hidden;
  font-size: .75rem;
  background-color: #EA1A1A;
  border-radius: 0.25rem;
  margin-bottom: 4px;
  width: auto!important;
}

.result-box {
  border-radius: 0px;
}



}


