
.badgegroup span {background-color: #f4f4f4; margin-right: 8px; padding: 4px 8px; border-radius: 100px; }

.ws10-card {
  
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
    padding: 24px 24px 32px 24px;
    margin-bottom: 32px;
    border-radius: 6px;
  
}

.taskcat span {
  
  background-color: #f4f4f4; 
  margin-right: 8px; padding: 4px 8px; border-radius: 100px; 
}


.checkboxes {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Abstand zwischen den Checkboxen */
}

.checkboxes input[type="checkbox"],
.checkboxes label {
    margin: 0; /* Zurücksetzen der Standardmargen */
}

.rotate {
  transform: rotate(180deg);
}


#counter{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 16px;
    background-color: #0D0D0D;
    font-size: 18px;
    border-radius: 6px;
    color: #f4f4f4;
}

.ws10-accordion-item__chevron {
    stroke: #bd0000;
    width: 32px;
    height: 32px;
    background-color: transparent;
    transform: rotate(0deg);
    transform-origin: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.ws10-accordion-item__chevron.rotate {
    transform: rotate(180deg);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}


.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 32px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7e7e7e;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00697c;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

/* Fokus-Stil für Tastaturnavigation */
.switch input:focus + .slider {
    box-shadow: 0 0 0 3px #005ea5;

}


.reset-button {
border-radius: 6px;
background: #e60000;
height: 48px;
width: 48px;
cursor: pointer;
    justify-content: center;
    align-items: center;
    border:0;

}


.reset-button:hover {
    background: #c40000;
    }

.reset-button-icon svg{

 width: 30px;
 height: 30px;

}

.reset-button-icon image{

    width: 30px;
    height: 30px;
   
   }

   .progress {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
  }
  
  .progress-bar {
    height: 20px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    color: white;
    transition: width 0.4s ease;
  }
  
  .progress-bar.pass {
    background-color: #4caf50; /* Grün für Pass */
  }
  
  .progress-bar.fail {
    background-color: #f44336; /* Rot für Fail */
  }
  